@import '../../../Components/styles/BreakPoints.scss';

.card-slide-wrapper {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 30px;

    @include breakpoint-992 {
        column-gap: 15px;
    }
}