@import '../../../Components/styles/BreakPoints.scss';

.hero-box-background {
    position: relative;
    height: 50vh;

    @include breakpoint-992 {
        height: 30vh;
    }
}

.hero-box-text {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #1b2d95;
    // border: 1px solid black;
    box-shadow: 12px 13px 40px -13px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 12px 13px 40px -13px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 12px 13px 40px -13px rgba(0, 0, 0, 0.52);
    @include breakpoint-992 {
        width: 50%;
    }
    @include breakpoint-600 {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
