@import '../../../Components/styles/BreakPoints.scss';

.list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
  }

.book-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 65%;
    &:hover {
        box-shadow: 12px 13px 40px -21px rgba(0,0,0,0.52);
        -webkit-box-shadow: 12px 13px 40px -21px rgba(0,0,0,0.52);
        -moz-box-shadow: 12px 13px 40px -21px rgba(0,0,0,0.52);
    }
    @include breakpoint-992 {
      width: 100%;
    }
    @include breakpoint-680 {
      width: 100%;
      column-gap: 15px;
    }

    .book-right-side {
      @include breakpoint-680 {
        width: 68%;
      }
    }
  }

  .book-category-wrapper {
    padding-top: 30px;
  }


