@import '../../Components/styles/BreakPoints.scss';

.main-header {
  display: flex;
  justify-content: space-between;

  @include breakpoint-680 {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

.genre-wrapper {
  display: flex;
  justify-content: space-between;
  row-gap: 15px;
  flex-direction: column;

  & select {
    width: 50%;
    cursor: pointer;

    @include breakpoint-680 {
      width: 30%;
    }
  }

  @include breakpoint-680 {
    justify-content: unset;
  }

  .form-control {
    flex-direction: row;
    column-gap: 10px;

    & .button {
      width: 170px;
    }
  }
}

.genre-result-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  & input {
    width: 50%;

    @include breakpoint-680 {
      width: 30%;
    }
  }

  @include breakpoint-680 {
    justify-content: unset;
  }

  & .button {
    width: 150px;
  }
}

// jeigu search results atsiranda
.search-item {
  display: flex;
  column-gap: 30px;
}

.content-wrapper {
  width: 70%;

  @include breakpoint-600 {
    width: 100%;
  }
}