.left-side {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    & .button-wrapper {

        & .button {
            width: 100%;
            border: 1px solid;

            &:hover {
                background-color: white;
                color: #4CAF50;
                border: 1px solid;
            }
        }
    }
}