@import '../../../Components/styles/BreakPoints';

.review-form {
    display: flex;
    flex-direction: column;
    width: 30%;

    & .form-control {
        display: flex;
        justify-content: space-between;

        & .input-review {
            width: 64%;
        }

        & .rating-input {
            width: 62%;
        }

        & .textarea-review {
            resize: both;
            width: 249px;
            height: 124px;
        }
    }

    & .form-button {
        align-self: center;
        margin-top: 15px;

        @include breakpoint-600 {
            width: 45%;
            margin-top: 0;
        }

        @include mobilePhone {
            width: 70%;
            margin-top: 0;
        }

    }

    .save-changes.button {
        align-self: center;
        margin-top: 15px;
        grid-column: 1;
    }

}
