@import '../../../Components/styles/BreakPoints.scss';

.book-item-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 65%;
    padding-left: 30px;
    box-shadow: 12px 13px 40px -21px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 12px 13px 40px -21px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 12px 13px 40px -21px rgba(0, 0, 0, 0.52);
    
    @include breakpoint-992 {
        width: 90%;
        padding-right: 15px;
    }
    @include mobilePhone {
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.book-wrapper {

    .left-side {
        @include breakpoint-680 {
            align-self: center;
        }
    }

    @include breakpoint-680 {
        flex-direction: column;
    }
}
