@import '../../Components/styles/BreakPoints.scss';

.author-personal-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-information-wrapper {
    display: flex;
    column-gap: 30px;

    @include breakpoint-680 {
        flex-direction: column;   
    }
}

.author-image-wrapper {
    align-self: center;
}

// .author-image {
//     border-radius: 50%;
// }

.author-biography {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    & .button {
        align-self: flex-start;
    }
}

.biography-content {
    width: 75%;
    font-family: "Inter";
}

.edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
}

.button {
    justify-self: flex-start;
}

.form-control {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}