@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@100;400;700&display=swap');
@import './Components/styles/BreakPoints';


*::before,
*::after {
  box-sizing: border-box;
}


.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
  font-weight: 700;
}

p,
span {
  font-family: 'Montserrat';
  font-weight: 400;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #1b2d95;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 75%;
}

// .button {
//     background-color: #cd300d;
//     border: none;
//     color: white;
//     padding: 5px 10px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 10px;
//     border-radius: 30px;
//   }

input[type=text],
select,
textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

  @include mobilePhone {
    width: 100%;
  }

}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {

  background-color: #1b2d95;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;


  grid-column: 1;
  justify-self: flex-start;

  @include mobilePhone {
    width: 100%;
  }
}

input[type=submit]:hover {
  opacity: 75%;
}


/* Style the container */
.container {
  border-radius: 5px;
  // background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 28%;
    margin-top: 0;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#formButton {
  align-self: center;
  margin-top: 15px;

  @include breakpoint-600 {
    width: 45%;
    margin-top: 0;
  }

  @include mobilePhone {
    width: 70%;
    margin-top: 0;
  }

}